<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"> {{siteName}} </h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div *ngFor="let post of posts | async" class="col-md-4">
          <h2> {{ post.title }} </h2>
          <p> {{ post.description }} </p>
          <p><small> {{ post.date }} </small></p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>        
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>