<div class="container-fluid p-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
      <div class="card mb-3">
        <div class="card-body">
          <h1 class="card-title"> User Name <span class="badge badge-secondary">♠</span>
          </h1>
          <h4 class="card-subtitle mb-2">E-Mail: <span class="text-muted">name@domain.com</span></h4>
          <h4 class="card-subtitle mb-2">Total Posts: <span class="text-muted">20</span> </h4>
        </div>
        <div style="text-align: center" class="card-footer text-muted"> Joined 31 December 2019 </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
      <div class="card text-left mb-3">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/">All Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="https://dimikoj.com/users/3954/submissions">সাবমিশন</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://dimikoj.com/users/3954/solved_problems">সমাধান</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="card w-40">
                <div class="card-body">
                  <h4 class="card-title">পরিসংখ্যান</h4>
                  <p class="h4">0 <small>টি সঠিক সমাধান</small></p>
                  <p class="h4">0 <small>টি সঠিক সাবমিশন</small></p>
                  <p class="h4">0 <small>টি সমস্যা চেস্টা</small></p>
                  <p class="h4">0 <small>টি সাবমিশন</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="card w-40">
                <div class="card-body">
                  <h4 class="card-title">ইউজার ইনফরমেশন</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card text-left mb-3">
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
